.sfondo-header {
  background-color: #212529;
  color: aliceblue;
  padding: 0 10px;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.navbar-brand.visible {
  opacity: 1;
}
.navbar-nav a {
  color: #eeeeee;
  position: relative;
  text-decoration: none;
}

.navbar-nav a::before {
  content: '';
  position: absolute;
  width: 88%;
  height: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
  bottom: 0;
  left: 1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.dropdown-menu a {
  color: #212529 !important;
}

.dropdown-menu a::before {
  background-color: #212529 !important;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    position: static;
    margin: 10px auto;
    display: block;
    transform: none;
  }
  .navbar-brand {
    opacity: 1;
  }
  .navbar-nav a::before,
  .navbar-nav a:hover::before {
    display: none;
  }
  
}
