@media screen and (max-width: 768px) {
 .navbar-nav a::before {
    display: none;
  }
  
  .navbar-nav a:hover::before {
    display: none;
  }
}

.sfondo-header{
  background-color: #212529 ;
  color: aliceblue;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
}

.dropdown-menu a {
	color: #212529 !important;
}

.dropdown-menu a::before {
  background-color: #212529 !important;
}

.navbar-nav a {
  color: #eeeeee;
  position: relative;
  text-decoration: none;
}

.navbar-nav a::before {
  content: '';
  position: absolute;
  width: 88%;
  height: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
  bottom: 0;
  left: 1;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

