
<div class="modal-dialog custom-modal w-100">
<div class="modal-content shadow-lg">
  <div class="modal-header" style=" padding: 20px 0px 0px 20px">
    <h5 class="modal-title">Il tuo feedback ci aiuta a migliorare. Grazie per il tuo contributo!</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body" style="padding:  0px 20px 20px 20px;">
    <p>Se vuoi vederlo nel dettaglio puoi andare nella tua area riservata.</p>
  </div>
  <div class="modal-footer" style="padding: 0px 20px 20px 20px; display: flex; justify-content: space-between;">
    <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal" style="padding: 10px 20px;">
      Chiudi
    </button>
    <button type="button" class="btn btn-primary" (click)="goToAreaRiservata()" style="padding: 10px 20px;">
      Area riservata
    </button>
    
    
  </div>
</div>
</div>
