<div class="modal-dialog custom-modal w-100">
  <div class="modal-content shadow-lg md-5 ">
      
    <div class="modal-body" style="padding: 20px;">
        <p>{{ data.content }}</p>
    </div>
    <div class="modal-footer" style="padding: 20px; display: flex; justify-content: space-between;">
      <button type="button" class="btn btn-secondary" (click)="close()" data-bs-dismiss="modal" style="padding: 10px 20px;">
        Chiudi
      </button>
      <button type="button" class="btn btn-primary" (click)="goToAreaRiservata()" style="padding: 10px 20px;">
        Area riservata
      </button>
    </div>
  </div>
</div>
    