<div class="container">
  <h2>Organigramma Aziendale</h2>

  <div *ngFor="let rootNode of data">
    <p-organizationChart [value]="[rootNode]" selectionMode="single" class="organization-chart">
      <ng-template let-node pTemplate="unit">
        <div class="node-header">{{ node.label }}</div>
        <div class="node-content">{{ node.data.descrizione }}</div>
      </ng-template>

      <ng-template let-node pTemplate="person">
        <div class="node-header">{{ node.label }}</div>
      </ng-template>

      <ng-template let-node pTemplate="role">
        <div class="node-role">{{ node.label }}</div>
      </ng-template>
    </p-organizationChart>
  </div>
</div>
