<div class="parent">
    <img class="image1 background fade-in pt-5" src="home5.jpg" alt="Homepage">
    <img class="image2 fade-in pt-5" src="logo.png" alt="Homepage">
</div>

<div class="container ">
    <div class="content-section slide-in-left">
    <div class="row mb-5 align-items-center ">
        <div class="col-lg-8">
            <h1 class="mb-3 text-primary font-weight-bold">Benvenuti nel nostro mondo!</h1>
            <p class="lead">Scopri la nostra passione per l'eccellenza! Qui troverai tutto ciò che ti serve per vivere un'esperienza unica.</p>
            <p class="text-muted">Naviga tra le nostre sezioni e lasciati sorprendere dai nostri prodotti e servizi. Siamo qui per te!</p>
            <a href="#" class="btn btn-primary btn-lg mt-3 ">Scopri di più</a>
        </div>
        <div class="col-lg-4">
            <img src="home3.jpg" alt="Immagine di benvenuto" class="img-fluid rounded shadow">
        </div>
    </div>
</div>
<div class="content-section slide-in-right">
    <div class="row mb-5 align-items-center ">
        <div class="col-lg-4">
            <img src="home6.jpg" alt="Immagine Prodotto" class="img-fluid rounded shadow">
        </div>
        <div class="col-lg-8">
            <h2 class="mb-3 text-primary">I nostri Prodotti</h2>
            <p class="lead">Esplora la nostra esclusiva gamma di prodotti, pensati per te. Qualità, innovazione e design sono le nostre parole d'ordine.</p>
            <p class="text-muted">Trova l'articolo perfetto per ogni tua esigenza e trasforma la tua esperienza quotidiana.</p>
            <a href="#" class="btn btn-primary btn-lg mt-3 ">Vedi Prodotti</a>
        </div>
    </div>
</div>
<div class="content-section slide-in-left">
    <div class="row mb-5 align-items-center ">
        <div class="col-lg-8 ">
            <h2 class="mb-3 text-primary">I nostri Servizi</h2>
            <p class="lead">Siamo qui per offrirti servizi personalizzati che superano le tue aspettative. La tua soddisfazione è la nostra missione!</p>
            <p class="text-muted">Scopri come possiamo aiutarti a realizzare i tuoi sogni con soluzioni tailor-made e un supporto dedicato.</p>
            <a href="#" class="btn btn-primary btn-lg mt-3 ">Esplora i Servizi</a>
        </div>
        <div class="col-lg-4">
            <img src="home9.jpg" alt="Immagine Servizio" class="img-fluid rounded shadow">
        </div>
    </div>
</div>
<div class="content-section slide-in-right">
    <div class="row mb-5 align-items-center ">
        <div class="col-lg-4">
            <img src="home7.jpg" alt="Immagine Contatti" class="img-fluid rounded shadow">
        </div>
        <div class="col-lg-8">
            <h2 class="mb-3 text-primary">Contattaci!</h2>
            <p class="lead">Hai domande o desideri maggiori informazioni? Siamo sempre disponibili per te!</p>
            <p class="text-muted">Non esitare a scriverci o a telefonarci. Siamo qui per ascoltarti e offrirti la migliore assistenza.</p>
            <a href="#" class="btn btn-primary btn-lg mt-3 ">Contattaci ora</a>
        </div>
    </div>
</div>
<div class="content-section slide-in-left">
    <div class="row align-items-center ">
        <div class="col-lg-8">
            <h2 class="mb-3 text-primary">Il tuo Feedback è prezioso</h2>
            <p class="lead">Ci teniamo a conoscere la tua opinione. Il tuo feedback ci aiuta a crescere e a migliorare costantemente!</p>
            <p class="text-muted">Lascia una recensione sui nostri prodotti e servizi. Ogni tuo commento conta e ci guida verso l'eccellenza.</p>
            <a href="home/sendFeedback" class="btn btn-primary btn-lg mt-3">Lascia un Feedback</a>
        </div>
        <div class="col-lg-4">
            <img src="home4.jpg" alt="Immagine Feedback" class="img-fluid rounded shadow">
        </div>
    </div>
</div>


