<div class="container" *ngIf="unita">
  <h1>{{ unita.nome }}</h1>
  
 
  <div class="container">
      <h2>Ruoli e Dipendenti</h2>

    
      <table mat-table [dataSource]="ruoliConDipendentiT" class="mat-elevation-z8">
         
          <ng-container matColumnDef="ruolo">
              <th mat-header-cell *matHeaderCellDef> Ruolo </th>
              <td mat-cell *matCellDef="let element"> {{ element.ruolo }} </td>
          </ng-container>

         
          <ng-container matColumnDef="dipendente">
              <th mat-header-cell *matHeaderCellDef> Dipendenti </th>
              <td mat-cell *matCellDef="let element">
                  <ul *ngIf="element.dipendenti.length > 0">
                      <li *ngFor="let dipendente of element.dipendenti">
                          {{ dipendente.nome }}
                      </li>
                  </ul>
                  <span *ngIf="element.dipendenti.length === 0">Nessun dipendente</span>
              </td>
          </ng-container>

         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  
  <div class="container mt-4">
      <div class="card">
          <div class="card-header">
              <h5>Lista Dipendenti</h5>
          </div>
          <div class="card-body">
              <table mat-table [dataSource]="dipendentiUnita" class="mat-elevation-z8 w-100" matSort>
                 
                  <ng-container matColumnDef="Nome">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                      <td mat-cell *matCellDef="let dipendente">{{ dipendente.nome }}</td>
                  </ng-container>

                 
                  <ng-container matColumnDef="Azioni">
                      <th mat-header-cell *matHeaderCellDef>Azioni</th>
                      <td mat-cell *matCellDef="let dipendente">
                          <button mat-icon-button color="warn" (click)="deleteDipendente(dipendente.id)">
                              <mat-icon>delete</mat-icon>
                          </button>
                      </td>
                  </ng-container>

                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDipendenti"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsDipendenti;"></tr>
              </table>
          </div>
      </div>
  </div>


  <div class="container mt-4">
      <div class="card">
          <div class="card-header">
              <h5>Lista Ruoli</h5>
          </div>
          <div class="card-body">
              <table mat-table [dataSource]="ruoliConDipendentiT" class="mat-elevation-z8 w-100" matSort>
                  
                  <ng-container matColumnDef="Ruolo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ruolo</th>
                      <td mat-cell *matCellDef="let ruolo">{{ ruolo.ruolo }}</td>
                  </ng-container>

                 
                  <ng-container matColumnDef="Azioni">
                      <th mat-header-cell *matHeaderCellDef>Azioni</th>
                      <td mat-cell *matCellDef="let ruolo">
                          <button mat-icon-button color="warn" (click)="deleteRole(ruolo.id)">
                              <mat-icon>delete</mat-icon>
                          </button>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRuoli"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRuoli;"></tr>
              </table>
          </div>
      </div>
  </div>
<div class="container w-100">
  <div class="form-section">
      <h3>Assegna un Ruolo</h3>
      <select [(ngModel)]="selectedRuoloId">
          <option [ngValue]="null">Seleziona un ruolo</option>
          <option *ngFor="let ruolo of availableRuoli" [ngValue]="ruolo.id">
              {{ ruolo.nome }}
          </option>
      </select>
      <button [disabled]="!selectedRuoloId" (click)="assignRoleToUnit()">
          Assegna Ruolo
      </button>
  </div>

  <div class="" *ngFor="let ruolo of ruoliKeys">
      <h3>{{ ruolo }}</h3>
      <ul>
          <li *ngFor="let dipendente of ruoliConDipendenti[ruolo]">
              {{ dipendente.nome }}
          </li>
      </ul>
  </div>

  <div class=" form-section">
      <h3>Crea e Assegna Nuovo Ruolo</h3>
      <input type="text" placeholder="Nome del Ruolo" [(ngModel)]="newRoleName" />
      <button [disabled]="!newRoleName" (click)="createAndAssignRole()">
          Crea e Assegna
      </button>
  </div>

  <div class=" form-section">
      <h3>Assegna Dipendente a Ruolo</h3>
      <mat-form-field appearance="outline">
          <mat-label>Seleziona Dipendente</mat-label>
          <mat-select [(ngModel)]="selectedDipendenteId">
              <mat-option>Seleziona un dipendente</mat-option>
              <mat-option *ngFor="let dipendente of filteredDipendenti" [value]="dipendente.id">
                  {{ dipendente.nome }}
              </mat-option>
          </mat-select>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
          <mat-label>Seleziona Ruolo</mat-label>
          <mat-select [(ngModel)]="selectedRuoloIdForDipendente">
              <mat-option>Seleziona un ruolo</mat-option>
              <mat-option *ngFor="let ruolo of ruoliAssegnati" [value]="ruolo.id">
                  {{ ruolo.nome }}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <br>
      <button [disabled]="!selectedDipendenteId || !selectedRuoloIdForDipendente" 
          (click)="creaDipendenteEAssegnaRuolo()">
          Assegna Dipendente a Ruolo
      </button>

      <h3>Crea e Assegna Nuovo Dipendente a Ruolo</h3>
      <input type="text" placeholder="Nome del Dipendente" [(ngModel)]="newDipendente.nome" />
      <mat-form-field appearance="outline">
          <mat-label>Seleziona Ruolo</mat-label>
          <mat-select [(ngModel)]="selectedRuoloIdForNewDipendente">
              <mat-option>Seleziona un ruolo</mat-option>
              <mat-option *ngFor="let ruolo of ruoliAssegnati" [value]="ruolo.id">
                  {{ ruolo.nome }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br><button [disabled]="!newDipendente.nome || !selectedRuoloIdForNewDipendente" 
          (click)="creaDipendenteEAssegnaRuolo()">
          Crea e Assegna Nuovo Dipendente
      </button>
  </div>


  <div class="loading-message" *ngIf="!unita">
      <p>Caricamento dettagli...</p>
  </div>
</div>
</div>